<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adminMapper">
	<resultMap id="memberResultSet" type="AMember" >
		<id property="memberNo" column="MEMBER_NO"/>
		<result property="memberId" column="MEMBER_ID" />
		<result property="memberPwd" column="MEMBER_PWD" />
		<result property="memberName" column="MEMBER_NM" />
		<result property="memberPhone" column="MEMBER_PHONE" />
		<result property="memberEmail" column="MEMBER_EMAIL" />
		<result property="memberEnrollDate" column="MEMBER_ENROLL_DATE" />
		<result property="memberStatus" column="MEMBER_STATUS" />
		<result property="memberGrade" column="MEMBER_GRADE" />
	</resultMap>
	
	<resultMap id="trainerResultSet" type="ATrainer" >
		<id property="trainerNo" column="TRAINER_NO"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="trainerId" column="MEMBER_ID" />
		<result property="trainerPwd" column="MEMBER_PWD" />
		<result property="trainerName" column="MEMBER_NM" />
		<result property="trainerPhone" column="MEMBER_PHONE" />
		<result property="trainerEmail" column="MEMBER_EMAIL" />
		<result property="trainerEnrollDate" column="MEMBER_ENROLL_DATE" />
		<result property="trianerStatus" column="MEMBER_STATUS" />
		<result property="trainerGrade" column="MEMBER_GRADE" />
		<result property="trainerCareer" column="TRAINER_CAREER" />
		<result property="trainerMemberCount" column="TRAINER_M_CNT" />
		<result property="trainerPrice" column="TRAINER_PRICE" />
		<result property="trainerSNS" column="TRAINER_SNS" />
		<result property="trainerComment" column="TRAINER_COMMENT" />
	</resultMap>
	
	<resultMap id="boardResultSet" type="ABoard">
		<id property="boardNo" column="BOARD_NO"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="boardType" column="BOARD_TYPE"/>
		<result property="boardTitle" column="BOARD_TITLE"/>
		<result property="boardContent" column="BOARD_CONTENT"/>
		<result property="boardEnrollDate" column="BOARD_ENROLL_DATE"/>
		<result property="boardModifyDate" column="BOARD_MODIFY_DATE"/>
		<result property="boardStatus" column="BOARD_STATUS"/>
		<result property="questionType" column="QUESTION_TYPE"/>
		<result property="startDate" column="START_DATE"/>
		<result property="endDate" column="END_DATE"/>
		<result property="views" column="VIEWS"/>
	</resultMap>
	
	<!-- 회원 전체 조회 -->
	<select id="selectMList" resultMap="memberResultSet">
		SELECT * FROM MEMBER
		WHERE MEMBER_STATUS='Y'
		ORDER BY MEMBER_NO
	</select>
	
	<!-- 트레이너 전체 조회 -->
	<select id="selectTList" resultMap="trainerResultSet">
		SELECT * FROM A_TRAINER
		ORDER BY TRAINER_NO
	</select>
	
	<!-- 1:1 문의 조회 -->
	<select id="selectIList" parameterType="_int" resultMap="boardResultSet">
		SELECT * FROM A_BOARD
		WHERE BOARD_TYPE=#{boardType}
		AND NOT EXISTS (SELECT 1 FROM REPLY WHERE PARENT_BOARD_NO = BOARD_NO)
		ORDER BY BOARD_NO
	</select>
	
	<!-- 1:1 문의 답변 -->
	<insert id="insertAnswer" parameterType="AReply">
		INSERT INTO REPLY
		VALUES(SEQ_RNO.NEXTVAL, #{parentBoardNo}, 1, #{replyContent}, DEFAULT, DEFAULT)
	</insert>
	
	<!-- 게시글 수 조회 -->
	<select id="getListCount" parameterType="_int" resultType="_int">
		SELECT COUNT(*) FROM A_BOARD
		WHERE BOARD_TYPE = #{boardType}
	</select>
	
	<!-- 게시글 다음 번호 가져오기 -->
	<select id="selectNextNo" resultType="_int">
		SELECT SEQ_BNO.NEXTVAL FROM DUAL
	</select>
	
	<!-- 이벤트 작성 -->
	<insert id="insertEvent" parameterType="ABoard">
		INSERT INTO BOARD
		VALUES(#{boardNo}, 1, #{boardType}, #{boardTitle},
				#{boardContent}, DEFAULT, DEFAULT, DEFAULT,
				NULL, #{startDate}, #{endDate}, DEFAULT)
	</insert>
	
	<!-- 파일 삽입 -->
	<insert id="insertAttachment" parameterType="AAttachment">
		INSERT INTO ATTACHMENT
		VALUES(SEQ_FNO.NEXTVAL, #{parentBoardNo}, #{fileOriginName},
				#{fileChangeName}, #{filePath}, #{fileLevel}, DEFAULT)
	</insert>
	
	<!-- 오류난 파일 삭제 -->
	<delete id="deleteAttachment" parameterType="_int">
		DELETE FROM ATTACHMENT
		WHERE PARENT_BOARD_NO = #{boardNo}
	</delete>
</mapper>
