<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="eventMapper">
	<select id="getListCount" resultType="_int">
		SELECT COUNT(*) FROM V_EVENT
		WHERE END_DATE >= SYSDATE
	</select>
	
	<resultMap type="Board" id="boardRs">
		<id property="boardNo" column="BOARD_NO"/>
		<result property="boardTitle" column="BOARD_TITLE"/>
		<result property="boardContent" column="BOARD_CONTENT"/>
		<result property="boardWriter" column="MEMBER_ID"/>
		<result property="views" column="VIEWS"/>
		<result property="boardEnrollDate" column="BOARD_ENROLL_DATE" javaType="java.sql.Timestamp"/>
		<result property="startDate" column="START_DATE"/>
		<result property="endDate" column="END_DATE"/>
	</resultMap>
	
	<resultMap type="Board" id="infoRs">
			<id property="boardNo" column="BOARD_NO"/>
		<result property="boardWriter" column="MEMBER_ID"/>
		<result property="boardTitle" column="BOARD_TITLE"/>
		<result property="boardContent" column="BOARD_CONTENT"/>
		<result property="boardEnrollDate" column="BOARD_ENROLL_DATE" javaType="java.sql.Timestamp"/>
		<result property="boardModifyDate" column="BOARD_MODIFY_DATE" javaType="java.sql.Timestamp"/>
		<result property="views" column="VIEWS"/>
	</resultMap>
	
    <resultMap type="Attachment" id="attachmentRs">
    	<id property="fileNo" column="FILE_NO"></id>
    	<result property="parentBoardNo" column="BOARD_NO"/>
    	<result property="fileOriginName" column="ORIGIN_NAME"/>
    	<result property="fileChangeName" column="CHANGED_NAME"/>
    	<result property="filePath" column="FILE_PATH"/>
    	<result property="fileLevel" column="FILE_LEVEL"/>
    </resultMap>
    
    <resultMap type="Reply" id="replyRs">
    	<id property="replyNo" column="REPLY_NO" />
    	<result property="memberNo" column="REPLY_MEMBER_NO"/>
    	<result property="memberId" column="MEMBER_ID"/>
    	<result property="replyContent" column="REPLY_CONTENT"/>
    	<result property="replyEnrollDt" column="REPLY_ENROLL_DT"  javaType="java.sql.Timestamp"/>
    </resultMap>
	
	<select id="selectList" resultMap="boardRs">
		SELECT * FROM V_EVENT
		WHERE END_DATE >= SYSDATE
		ORDER BY BOARD_NO DESC
	</select>
	
   	<select id="selectThumbnailList" parameterType="list" resultMap="attachmentRs">
   		SELECT * FROM ATTACHMENT
   		WHERE FILE_LEVEL = 0
   		AND BOARD_NO IN
   		<foreach collection="list" index="i" item="board"
   			open="(" close=")" separator=",">
   			#{board.boardNo}
   		</foreach>
   	</select>
	
	<!-- 게시글 삽입시 필요한 보드넘버 -->
	<select id="selectNextNo" resultType="_int">
		SELECT SEQ_BNO.NEXTVAL FROM DUAL
	</select>
	
	<insert id="insertBoard" parameterType="Board">
		INSERT INTO BOARD
		VALUES(#{boardNo}, #{boardWriter}, #{boardType}, #{boardTitle}, #{boardContent}, DEFAULT, DEFAULT, DEFAULT, DEFAULT, 
				#{startDate}, #{endDate}, DEFAULT)
	</insert>
	
	<insert id="insertAttachment" parameterType="Attachment">
	   	INSERT INTO ATTACHMENT VALUES(
   			SEQ_FNO.NEXTVAL, #{parentBoardNo},
   			#{fileOriginName}, #{fileChangeName}, #{filePath}, #{fileLevel}, DEFAULT
   		)
	</insert>
	<delete id="deleteAttachment" parameterType="_int">
   		DELETE FROM ATTACHMENT
   		WHERE BOARD_NO = #{boardNo}
    </delete>
    
    <select id="selectBoard" parameterType="_int" resultMap="boardRs">
    	SELECT * FROM V_EVENT
    	WHERE BOARD_NO = #{boardNo} 
    </select>
    
    <update id="increaseCount" parameterType="_int">
    	UPDATE BOARD
    	SET VIEWS = VIEWS + 1
    	WHERE BOARD_NO = #{boardNo}
    </update>
    
    <select id="selectFiles" parameterType="_int" resultMap="attachmentRs">
    	SELECT * FROM ATTACHMENT
    	WHERE BOARD_NO = #{boardNo}
    </select>
    
    <update id="deleteEvent" parameterType="_int">
    	UPDATE BOARD 
    	SET BOARD_STATUS = 'N'
    	WHERE BOARD_NO = #{boardNo}
    </update>
    
    <update id="updateEvent" parameterType="Board">
    	UPDATE BOARD SET
    	BOARD_TITLE = #{boardTitle},
    	BOARD_CONTENT = #{boardContent},
    	START_DATE = #{startDate},
    	END_DATE = #{endDate}
    	WHERE BOARD_NO = #{boardNo}
    </update>
    
    <update id="updateAttachment" parameterType="Attachment">
      	UPDATE ATTACHMENT SET
   		ORIGIN_NAME = #{fileOriginName},
   		CHANGED_NAME = #{fileChangeName}
   		WHERE FILE_NO = #{fileNo}
    </update>
    
    <delete id="deleteAttachmentOne" parameterType="_int">
    	DELETE FROM ATTACHMENT
   		WHERE FILE_NO = #{fileNo}
    </delete>
    
    <!-- 종료 이벤트 -->
    
	<select id="selectEndList" resultMap="boardRs">
		<![CDATA[
		SELECT * FROM V_EVENT
		WHERE END_DATE < SYSDATE
		ORDER BY BOARD_NO DESC
		]]>
	</select>
	
	<select id="getEndListCount" resultType="_int">
		<![CDATA[
		SELECT COUNT(*) FROM V_EVENT
		WHERE END_DATE < SYSDATE
		]]>
	</select>
	
	<!-- info -->
	<select id="getInfoListCount" parameterType="map" resultType="_int">
		SELECT COUNT(*) FROM INFO_VIEW
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="skey == tit and sVal != null ">
				BOARD_TITLE like '%' || #{sVal} || '%'
			</if>
			<if test="skey =='con' and sVal != null ">
				BOARD_CONTENT like '%' || #{sVal} || '%'
			</if>
			<if test="skey =='tit-con' and sVal != null ">
				BOARD_TITLE like '%' || #{sVal} || '%'
				OR BOARD_CONTENT like '%' || #{sVal} || '%'
			</if>	
		</trim>
	</select>
	
	<select id="selectInfoList" parameterType="map" resultMap="infoRs">
		SELECT * FROM INFO_VIEW
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="skey == tit and sVal != null ">
				BOARD_TITLE like '%' || #{sVal} || '%'
			</if>
			<if test="skey =='con' and sVal != null ">
				BOARD_CONTENT like '%' || #{sVal} || '%'
			</if>
			<if test="skey =='tit-con' and sVal != null ">
				BOARD_TITLE like '%' || #{sVal} || '%'
				OR BOARD_CONTENT like '%' || #{sVal} || '%'
			</if>	
		</trim>
	</select>
	
	<select id="selectInfo" resultMap="infoRs">
		SELECT * FROM INFO_VIEW
		WHERE BOARD_NO = #{boardNo}
	</select>
	
	<insert id="insertInfo" parameterType="Board">
		INSERT INTO BOARD
		VALUES(#{boardNo}, #{boardWriter}, #{boardType}, #{boardTitle}, #{boardContent}, DEFAULT, DEFAULT, DEFAULT, DEFAULT, 
				DEFAULT, DEFAULT, DEFAULT)
	</insert>
	
	<select id="getBoardLike" parameterType="BoardLikes" resultType="_int">
		SELECT COUNT(*) FROM LIKES
		WHERE LIKES_MEMBER_NO = #{memberNo}
		AND BOARD_NO = #{boardNo}
		
	</select>	
	
	<delete id="deleteLikes" parameterType="BoardLikes">
		DELETE LIKES 
		WHERE LIKES_MEMBER_NO = #{memberNo}
		AND BOARD_NO = #{boardNo}
	</delete>
	
	<insert id="insertLikes" parameterType="BoardLikes">
		INSERT INTO
		LIKES VALUES(#{memberNo}, #{boardNo})
		
	</insert>
	
	<select id="likesCount" parameterType="_int" resultType="_int">
		SELECT COUNT(*)
		FROM LIKES
		WHERE BOARD_NO= #{boardNo}
	</select>
	
	<insert id="insertReply" parameterType="Reply">
		INSERT INTO REPLY
		VALUES (SEQ_RNO.NEXTVAL, #{boardNo}, #{memberNo}, #{replyContent}, SYSDATE, DEFAULT)
	</insert>
	
	<select id="selectReplys" parameterType="_int" resultMap="replyRs">
		SELECT REPLY_NO, REPLY_MEMBER_NO, MEMBER_ID, REPLY_CONTENT, REPLY_ENROLL_DT
		FROM REPLY JOIN MEMBER ON(REPLY_MEMBER_NO = MEMBER_NO)
		WHERE REPLY_STATUS = 'Y'
		AND PARENT_BOARD_NO = #{boardNo}
		ORDER BY REPLY_NO DESC
	</select>
	
	<update id="deleteReply" parameterType="_int">
		UPDATE REPLY SET REPLY_STATUS = 'N'
		WHERE REPLY_NO = #{replyNo}
	</update>
	
	<select id="selectBest" parameterType="_int" resultMap="infoRs">
		<![CDATA[
		SELECT * FROM (
		SELECT (SELECT COUNT(*) FROM LIKES WHERE BOARD.BOARD_NO = LIKES.BOARD_NO) LIKESCOUNT,
		BOARD_NO, MEMBER_ID, BOARD_TITLE, BOARD_CONTENT, BOARD_ENROLL_DATE,
		BOARD_MODIFY_DATE, VIEWS FROM BOARD 
		JOIN MEMBER ON(BOARD_WRITER = MEMBER_NO)
		WHERE BOARD_TYPE = #{boardType}
		ORDER BY BOARD_ENROLL_DATE DESC, LIKESCOUNT DESC)
		WHERE ROWNUM <= 3
		AND LIKESCOUNT > 0
		]]>
	</select>
	
	<select id="selectReply" parameterType="_int" resultType="string">
		SELECT REPLY_CONTENT
		FROM REPLY
		WHERE REPLY_NO = #{replyNo}
	</select>
	
	<update id="updateReply" parameterType="Reply">
		UPDATE REPLY
		SET REPLY_CONTENT = #{replyContent}
		WHERE REPLY_NO = #{replyNo}

	</update>
  
</mapper>
