<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="serviceMapper">
 
 
 <resultMap type="Board" id="boardResultSet">
        <id property="boardNo" column="BOARD_NO"/>
        <result property="memberNo" column="BOARD_WRITER"/>
        <result property="boardType" column="BOARD_TYPE"/>
        <result property="boardTitle" column="BOARD_TITLE"/>
        <result property="boardContent" column="BOARD_CONTENT"/>
        <result property="boardEnrollDate" column="BOARD_ENROLL_DATE"/>
        <result property="boardModiftDate" column="BOARD_MODIFY_DATE"/>
        <result property="boardStatus" column="BOARD_STATUS"/>
        <result property="qnaCode" column="QUESTION_CODE"/>
        <result property="startDate" column="START_DATE"/>
        <result property="endDate" column="END_DATE"/>
        <result property="views" column="VIEWS"/>
  </resultMap>
  
  <resultMap id="memberResultSet" type="Member" >
	
		<!-- DB 기본키에 해당하는 필드와 컬럼을 작성 property : 자바필드명, column : DB컬럼 -->
		<id property="memberNo" column="MEMBER_NO"/>
		
		<!-- DB 일반 컬럼에 해당하는 필드와 컬럼을 작성 -->
		<result property="memberId" column="MEMBER_ID" />
		<result property="memberPwd" column="MEMBER_PWD" />
		<result property="memberName" column="MEMBER_NM" />
		<result property="memberPhone" column="MEMBER_PHONE" />
		<result property="memberEmail" column="MEMBER_EMAIL" />
		<result property="memberEnrollDate" column="MEMBER_ENROLL_DT" />
		<result property="memberStatus" column="MEMBER_STATUS" />
		<result property="memberGrade" column="MEMBER_GRADE" />
	
	</resultMap>
	
	<resultMap type="Attachment" id="attachmentResultSet">
    	<id property="fileNo" column="FILE_NO"></id>
    	<result property="parentBoardNo" column="BOARD_NO"/>
    	<result property="fileOriginName" column="ORIGIN_NAME"/>
    	<result property="fileChangeName" column="CHANGED_NAME"/>
    	<result property="filePath" column="FILE_PATH"/>
    	<result property="fileLevel" column="FILE_LEVEL"/>
    </resultMap>
    
    <resultMap type="Sreply" id="SreplyResultSet">
    	<id property="replyNo" column="REPLY_NO"></id>
    	<result property="content" column="REPLY_CONTENT"/>
    	<result property="boardNo" column="PARENT_BOARD_NO"/>
    	<result property="memberId" column= "MEMBER_ID"/>
    	<result property="enrollDate" column="REPLY_ENROLL_DT"/>
    	<result property="replyStatus" column="REPLY_STATUS"/>
    	<result property="memberNo" column="REPLY_MEMBER_NO"/>
    </resultMap>
    
   
  
  <!-- 전체게시글 수 조회 -->
  <select id="getListCount" parameterType="_int" resultType="_int">
	SELECT COUNT(*) FROM S_BOARD WHERE BOARD_TYPE = #{type}
  </select>
  
  <!-- 게시글 목록 조회  -->
  <select id="selectList" parameterType="_int" resultMap="boardResultSet">
  
  SELECT * FROM S_BOARD2
  WHERE BOARD_TYPE = #{boardType}
  ORDER BY BOARD_NO DESC
  
  	<!-- SELECT ROWNUM BOARD_NO, MEMBER_ID,BOARD_TITLE, BOARD_CONTENT,
            BOARD_ENROLL_DATE, BOARD_MODIFY_DATE, BOARD_STATUS,
           QUESTION_TYPE,BOARD_CATEGORY,
            MEMBER_ID,VIEWS
	FROM BOARD
	JOIN MEMBER ON(BOARD_WRITER = MEMBER_NO)
	JOIN BOARD_TYPE USING (BOARD_TYPE)
	JOIN QUESTION_TYPE USING (QUESTION_CODE)
	WHERE BOARD_STATUS='Y' AND BOARD_TYPE=#{boardType}
	ORDER BY BOARD_NO DESC -->
  
  </select>
  
  <!-- faq 게시글 목록 조회 -->
  <select id="selectFaqList" parameterType="_int" resultMap="boardResultSet">
  		
  	<!-- SELECT BOARD_NO, MEMBER_ID , 
  	BOARD_TITLE, BOARD_CONTENT, BOARD_ENROLL_DATE,
  	BOARD_MODIFY_DATE, VIEWS 
  	FROM FAQ_BOARD 
  	WHERE BOARD_TYPE=#{boardType}
  	ORDER BY BOARD_NO DESC -->
  	
  	SELECT BOARD_NO, MEMBER_ID , 
  	BOARD_TITLE, BOARD_CONTENT, BOARD_ENROLL_DATE,
  	BOARD_MODIFY_DATE, VIEWS 
  	FROM FAQ_BOARD_LIST2 WHERE BOARD_TYPE=#{boardType}
  	<!-- SELECT ROWNUM BOARD_NO, MEMBER_ID,BOARD_TITLE, BOARD_CONTENT,
            BOARD_ENROLL_DATE, BOARD_MODIFY_DATE, BOARD_STATUS,
           QUESTION_TYPE,BOARD_CATEGORY,
            MEMBER_ID,VIEWS
	FROM BOARD
	JOIN MEMBER ON(BOARD_WRITER = MEMBER_NO)
	JOIN BOARD_TYPE USING (BOARD_TYPE)
	JOIN QUESTION_TYPE USING (QUESTION_CODE)
	WHERE BOARD_STATUS='Y' AND BOARD_TYPE=#{boardType}
	ORDER BY BOARD_NO DESC -->
  	
  </select>
  
  <!-- faq게시글 상세 조회 -->
  <select id="selectFaqBoard" parameterType="_int" resultMap="boardResultSet">
  	<choose>
  		<when test="type == 4">
	  		SELECT * FROM FAQ_BOARD2 WHERE BOARD_NO=#{boardNo} AND BOARD_STATUS='Y'
  		</when>
  		<otherwise>
	  		SELECT * FROM QA_BOARD
	  		WHERE BOARD_NO = #{boardNo}
	  		AND BOARD_STATUS='Y'
  		</otherwise>
  	</choose>
  </select>
  
  <!-- FAQ게시글 조회 수 증가 -->
  <update id="increaseCount" parameterType="_int">
  	UPDATE BOARD SET VIEWS=VIEWS+1 WHERE BOARD_NO=#{boardNo}
  </update>
  
  <!-- 검색 조건이 포함된 faq 전체 게시글 수 조회 -->
  <select id="getSearchListCount" parameterType="map" resultType="_int">
  	SELECT COUNT(*) FROM S_BOARD2
  	WHERE 
  	<bind name="sv" value="'%' + search.sVal +'%'"/>
  	
  	<choose>
  		<when test="search.sKey == 'tit'">
  			BOARD_TITLE LIKE #{sv}
  		</when>
  		<when test="search.sKey == 'con'">
  			BOARD_CONTENT LIKE #{sv}
  		</when>
  		<otherwise>
  			(BOARD_TITLE LIKE #{sv} OR BOARD_CONTENT LIKE #{sv})
  		</otherwise>
  	</choose>
  </select>
  
  <!-- faqboardNo조회 -->
  <select id="selectFaqBoardNo" parameterType="_int" resultMap="boardResultSet">
  
  SELECT BOARD_NO FROM FAQ_BOARD_NO2 
  
  </select>
  
  <!-- faq 멤버Id리스트 조회  -->
  <select id="selectFaqmemberIdList" parameterType="_int" resultMap="memberResultSet">
  
  SELECT MEMBER_ID FROM FAQ_BOARD_NO2
  
  </select>
  
  <!-- faq 검색 리스트 조회 -->
  <select id="selectSearchList" parameterType="map" resultMap="boardResultSet">
  	SELECT * FROM S_BOARD3
  	WHERE 
  	<bind name="sv" value="'%' + search.sVal +'%'"/>
  	
  	<choose>
  		<when test="search.sKey == 'tit'">
  			BOARD_TITLE LIKE #{sv}
  		</when>
  		<when test="search.sKey == 'con'">
  			BOARD_CONTENT LIKE #{sv}
  		</when>
  		<otherwise>
  			(BOARD_TITLE LIKE #{sv} OR BOARD_CONTENT LIKE #{sv})
  		</otherwise>
  	</choose>
  	
  </select>
  
  <!-- faq 다음 글번호 조회  -->
  <select id="selectSeq" resultType="_int">
  	SELECT SEQ_BNO.NEXTVAL FROM DUAL
  </select>
  
  <!-- faq 게시글 등록  -->
  <select id="insertFaq" parameterType="Board">
  	INSERT INTO BOARD 
  	<choose>
  	<when test="qnaCode ==0">
  	(BOARD_NO,BOARD_TITLE,BOARD_CONTENT,BOARD_TYPE,
  	BOARD_WRITER,BOARD_ENROLL_DATE,BOARD_MODIFY_DATE)
  	VALUES(#{boardNo},#{boardTitle},#{boardContent},#{boardType},
  	#{boardWriter},SYSDATE,SYSDATE)
  	</when>
  	<otherwise>
  	(BOARD_NO,BOARD_TITLE,BOARD_CONTENT,BOARD_TYPE,
  	BOARD_WRITER,BOARD_ENROLL_DATE,BOARD_MODIFY_DATE,QUESTION_CODE)
  	VALUES(#{boardNo},#{boardTitle},#{boardContent},#{boardType},
  	#{boardWriter},SYSDATE,SYSDATE,#{qnaCode})
  	</otherwise>
  	</choose>
  	<!-- <choose>
  	<when test="#{qnaCode ==0}">
  	VALUES(#{boardNo},#{boardTitle},#{boardContent},#{boardType},
  	#{boardWriter},SYSDATE,SYSDATE)
  	</when>
  	<otherwise>
  	VALUES(#{boardNo},#{boardTitle},#{boardContent},#{boardType},
  	#{boardWriter},SYSDATE,SYSDATE,#{qnaCode})
  	</otherwise>
  	</choose> -->
  </select>
  
  <!-- faq 파일 삽입 -->
  <insert id="insertFaqAttachment" parameterType="Attachment">
  	INSERT INTO ATTACHMENT VALUES(
  	SEQ_FNO.NEXTVAL, 
  	#{parentBoardNo},
  	#{fileOriginName},
  	#{fileChangeName},
  	#{filePath},
  	#{fileLevel},'Y' 
  	)
  </insert>
  
  <update id="deleteFaqAttachment" parameterType="_int">
  	DELETE FROM ATTACHMENT
  	WHERE BOARD_NO= #{boardNo}
  </update>
  
  <!-- faq 파일 조외 -->
  <select id="selectFaqFiles" parameterType="_int" resultMap="attachmentResultSet">
  	SELECT * FROM ATTACHMENT
  	WHERE BOARD_NO = #{boardNo}
  	ORDER BY FILE_LEVEL
  
  </select>
  
  <!-- 게시글 수정 -->
  <update id="updateFaqBoard" parameterType="Board">
  	UPDATE BOARD SET BOARD_TITLE=#{boardTitle},BOARD_CONTENT=#{boardContent},
  	BOARD_MODIFY_DATE=SYSDATE 
  	<if test="boardType ==3">
  	,QUESTION_CODE=#{qnaCode}
  	</if>
  	WHERE BOARD_NO=#{boardNo}
  	
  </update>
  
  <!-- faq파일 정보 수정 -->
  <update id="updateFaqAttachment" parameterType="Attachment">
  	UPDATE ATTACHMENT SET
  	ORIGIN_NAME=#{fileOriginName},
  	CHANGED_NAME=#{fileChangeName}
  	WHERE FILE_NO = #{fileNo}
  </update>
  
  <!-- faq 파일 1개 정보 삭제 -->
  <delete id="deleteAttachment2" parameterType="_int">
  	DELETE FROM ATTACHMENT
  	WHERE FILE_NO = #{fileNo}
  </delete>
  
  <!-- faq게시글 삭제 -->
  <update id="deleteFaqBoard" parameterType="_int">
  	UPDATE BOARD SET BOARD_STATUS='N' WHERE BOARD_NO=#{boardNo}
  </update>
  
  <!-- qa 전체 게시글 수 조회 -->
  <select id="getQaListCount" parameterType="map" resultType="_int">
  SELECT COUNT(*) FROM QA_BOARD
  WHERE BOARD_TYPE = #{type} AND BOARD_WRITER=#{loginMemberNo}
  </select>
  
  <!-- qf게시글 조회  -->
  <select id="selectQaList" parameterType="map" resultMap="boardResultSet">
  	
  	SELECT * FROM QA_BOARD
  	WHERE BOARD_TYPE =#{type} AND BOARD_WRITER=#{memberNo}
  	ORDER BY BOARD_NO DESC
  </select>
  
  <!-- qna게시글 상세 조회 -->
  <select id="selectQnaBoard" parameterType="_int" resultMap="boardResultSet">
  	SELECT * FROM QA_BOARD
  	WHERE BOARD_NO = #{boardNo}
  	AND BOARD_STATUS='Y'
  </select>
  
  <!-- qna조회수 증가  -->
  <update id="increaseCount2" parameterType="_int">
  	UPDATE BOARD SET VIEWS = VIEWS+1 WHERE BOARD_NO=#{boardNo}
  </update>
  
  <!-- quest상세조회 아이디 조회  -->
  <select id="selectMemberId" parameterType="string" resultType="string">
  	SELECT MEMBER_ID FROM MEMBER WHERE MEMBER_NO=#{boardWriter}
  </select>
  
  <select id="selectList2" parameterType="_int" resultMap="SreplyResultSet">
  SELECT * FROM SVR_VIEW
  WHERE REPLY_STATUS='Y'
  AND PARENT_BOARD_NO = #{boardNo}
  ORDER BY REPLY_NO ASC
  </select>
  
</mapper>
